<main>
    <div class="container">
        <div class="modal">
            <section class="modal-content">
                <h2>
                    {{modalTitleOne}}
                </h2>
                <h3>
                    Currents Assets vs Current Liabilities
                </h3>
                <h3>
                    Debt vs Net Current Assets
                </h3>
                &nbsp;
                <h2>
                    {{modalTitleTwo}}
                </h2>
                <h3>
                    Net Income over the last 5 years
                </h3>
                &nbsp;
                <h2>
                    {{modalTitleThree}}
                </h2>
                <h3>
                    Dividend Yield
                </h3>
                &nbsp;
                <h2>
                    {{modalTitleFour}}
                </h2>
                <h3>
                    Current Net Income vs 5 Years Ago
                </h3>
                &nbsp;
                <h2>
                    {{modalTitleFive}}
                </h2>
                <h3>
                    Net Current Assets vs Stock Price
                </h3>
                &nbsp;
                <h2>
                    {{modalTitleSix}}
                </h2>
                <p>
                    "insert summary here."
                </p>
                &nbsp;
            </section>
        </div>
    </div>
</main>
