<header id="header">
  <div class="container">
    <img src="/assets/images/Thinking-Man.png" alt="Thinking-Man" (click)="toggleModal()">
    <h1 id="title">{{title}}</h1>
  </div>
</header>

<main>
  <div class="search-functionality">
    <input class="search-bar" type="text" placeholder={{companySearch}} />
    <input class="search-icon" type="image" src="/assets/images/search-solid.svg" (click)="searchCompany()"/>
  </div>
  <div class=page-modal *ngIf="showMe">
    <app-page-modal></app-page-modal>
  </div>
  <div *ngIf="!showMe">
    <app-analysis-page></app-analysis-page>
  </div>
</main>