/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(assets/Fonts/Helvetica-Neue-Medium.ttf) format('truetype') ;
}
.HNM {
    font-family: 'Helvetica Neue Medium';
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url(assets/Fonts/Helvetica-Neue-Bold.ttf) format('truetype') ;
}
.HNB {
    font-family: 'Helvetica Neue Bold';
}